@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Контакты";
}
<div class="IndexBody">
    <div class="Form">
        <h2>Вы можете связаться с нами</h2>
        <label>По номеру телефона <br /><span>8-988-076-56-67</span></label>
        <label>График работы <br /><span>С 8:00 до 19:00</span></label>
        <label class="text-center">По почте <br /><span>alinapozova674@gmail.com</span></label>
        <label class="text-center">Юридический адрес <br /><span>Россия, Астраханская область, г. Астрахань</span></label>
    </div>
</div>
