@using RuralCourtyard.Models.Infrastructure;
@model List<Favorites>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Избранное";
}
<div class="Body">
    <div class="UpBody">
        <form method="post" class="CenterOfBody" asp-controller="Product" asp-action="SearchProductInFavorites">
            <input class="form-control" name="productName" type="text" />
            <input type="image" src="/img/icons/Magnifying-glass.svg" />
        </form>
    </div>
    <div class="OtherBody">
        <div class="products">
            @foreach (var product1 in Model)
            {
                <form class="product-item m-3" asp-controller="Product" asp-action="ProductInfo">
                    @{
                        Product product = product1.Product;
                    }

                    <input asp-controller="Product" asp-action="RemoveFromFavoriteFromFavoritePage"
                        class="redcrossfavorite"
                        type="image" width="30" height="30"
                           src="https://cdn4.iconfinder.com/data/icons/eldorado-basic/40/delete-1024.png">

                    <input name="productName" class="form-control form-control-sm" type="hidden" value="@product.Name" />
                    <img src="@product.ImageLink" />
                    <h4>@product.Name</h4>
                    <input type="submit" class="btn-sample lead" value="Открыть">
                </form>
            }
        </div>
    </div>
</div>
