@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="IndexBody">
    <img class="me-5" src="~/img/icons/Logo.png" />

    <div class="Form ms-5">
        <a class="m-5">
            “Сельский Дворик” - это ваш надежный источник качественных саженцев роз и других садовых растений.
            Наша компания была основана на любви к природе и желании поделиться этой любовью с другими.
            Мы стремимся предоставить вам только самые лучшие и здоровые саженцы, которые гарантированно приживутся и будут радовать вас своим цветением.
        </a>
    </div>
</div>
