@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    margin: 0;
}

body {
    background-image: url("../img/background-images/Background.png");
    background-attachment: fixed;
    background-size: cover; 
}

.Grid {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 50px;
    grid-template-areas:
        "header header"
        "body body"
        "footer footer";
    height: 100vh;
    width: 100vw;
}
.GridBody {
    grid-area: body;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: #69776E;
    grid-area: footer;
    display: flex;
    align-items: center;
}
footer > h5 {
    font-size: 12px;
    color: white;
    margin-left: 50px;
}

header {
    background: #69776E;
    grid-area: header;
    display: flex;
    align-items: center;
}
header .Header-title {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-title .TitleOfStore {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header .Header-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header-buttons * {
    margin-right: 20px;
}
.Header-buttons img {
    width: 40px;
}

.Body > img {
    width: 450px;
}

.productInfoImage {
    width: 150px;
    height: 340px;
}

.RegAuthForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.AutoHeightForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    width: 500px;
    height: auto;
    background: rgba(217, 217, 217, 0.80);
}

.AutoHeightAndWidthForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    min-width: 300px;
    max-width: 600px;
    min-height: 30px;
    max-height: 500px;
    background: rgba(217, 217, 217, 0.80);
}

.Form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    width: 500px;
    height: 350px;
    background: rgba(217, 217, 217, 0.80);
}
.Form > input {
    margin-top: 50px;
    text-align: center;
    width: 250px;
}
.RegAuthForm > input {
    margin-top: 50px;
    text-align: center;
    width: 250px;
}

.IndexBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.UpBody{
    display: inline-block;
    margin-bottom: 150px;
}
.UpBody > form{
    display: inline-flex;
}
.OtherBody{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DownBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.btn-sample {
    color: #ffffff;
    background-color: #295430;
    border-color: #295430;
    border-radius: 5px;
}

    .btn-sample:hover,
    .btn-sample:focus,
    .btn-sample:active,
    .btn-sample.active,
    .open .dropdown-toggle.btn-sample {
        color: #ffffff;
        background-color: #295430;
        border-color: #295430;
    }

    .btn-sample:active,
    .btn-sample.active,
    .open .dropdown-toggle.btn-sample {
        background-image: none;
    }

    .btn-sample.disabled,
    .btn-sample[disabled],
    fieldset[disabled] .btn-sample,
    .btn-sample.disabled:hover,
    .btn-sample[disabled]:hover,
    fieldset[disabled] .btn-sample:hover,
    .btn-sample.disabled:focus,
    .btn-sample[disabled]:focus,
    fieldset[disabled] .btn-sample:focus,
    .btn-sample.disabled:active,
    .btn-sample[disabled]:active,
    fieldset[disabled] .btn-sample:active,
    .btn-sample.disabled.active,
    .btn-sample[disabled].active,
    fieldset[disabled] .btn-sample.active {
        background-color: #295430;
        border-color: #295430;
    }

    .btn-sample .badge {
        color: #295430;
        background-color: #ffffff;
    }

.super-a {
    color: white !important;
}
.super-a:hover {
    color: #295430;
}

a, a:hover{
    text-decoration: none;
    color: black !important;
}

span{
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 700%;
    margin-left: auto;
    margin-right: auto;
}
.product-item {
    margin: 50px;
    width: 220px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .product-item > img {
        width: 150px;
    }

.cartsProductImage {
    width: 150px;
    height: 130px;
}

.addtocart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.redcrossfavorite{
    margin-left: 150px;
}
